@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-gutter: stable;
}


#apexchartspokemon-stats-chart {
  background-color: #00000066;
  border-radius: 30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.apexcharts-menu-icon {
  padding: 20px 35px;
}

.apexcharts-menu-icon svg {
  fill: #fff !important
}